*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    height: 100vh;
}

/* MAIN */
main{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.principal_contatos{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 25%;
}
.usuario{
    height: 70px;
    background-color: #ededed;
    place-content: center;
    padding-left:10px;
    padding-right:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-img{
    height: 45px;
    border-radius: 30px;
    place-self: center;
}
.opcoes{
    height: 30px;
place-self: center;
}
.pesquisa{
    background-color: white;
    height: 60px;
    place-content: center;
}
.campo-pesquisa{
    background-color: whitesmoke;
    height: 40px;
    margin: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 10px;
}
.lupa{
    height: 15px;
}
.pesq{
    height: 30px;
    border: none;
    background-color: whitesmoke;
}
.pesq:focus{
    outline: none;
}
.contato{
    background-color: white;
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}
.perfil-contato{
    height: 60px;
    border-radius: 40px;
}
.nome-contato{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;

}
.mensagens{
    display: flex;
    flex-direction: column;
    background-color: #dddbd1;
    height: 100%;
    width: 75%;
    justify-content: space-between;
}
.contato2{
    height: 70px;
    background-color: #ededed;
    place-content: center;
    padding-left:10px;
    padding-right:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mend{
    display: flex;
    flex-direction: column;
}

.mensagem{
    display: flex;
    background-color: white;
    width: 300px;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    gap: 0;
    flex-direction: column;
}

.mensagem.invertido{
    flex-direction: row-reverse;
    align-self: flex-end;
}
.mensagem.invertido div{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.nome-c{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.mensa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.campo-texto{
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    height: 100%;
    width: 75%;
}
.aviao{
    height: 15px;
    place-self: center;
    padding-right: 20px;
}
.pesquisa2{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 60px;
    place-content: center;
}
.campo-pesquisa2{
    background-color: whitesmoke;
    height: 40px;
    margin: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 10px;
    justify-content: space-between;
}
.lupa2{
    height: 15px;
    padding-left: 20px;
    padding-right: 10px;
}
.pesq2{
    height: 30px;
    border: none;
    background-color: whitesmoke;
}